body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background: black;
  justify-content: center;
}
.main-container {
  background: black;
  padding: 2.5rem;
  background: #1e1e1e;
  border-radius: 1rem;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  gap: 1rem;
}
.result {
  color: white;
}
#output {
  color: white;
}
.result-operation {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.buttons button {
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  background: #333;
  color: white;
  cursor: pointer;
}
.buttons button:hover {
  background: #555;
}
.buttons .operator {
  background: #ff9500;
}
.result-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.buttons .clear {
  background: #ff3b30;
}

.buttons .output {
  background: #34c759;
}
